<h1><%= User.model_name.human %></h1>

<table>
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.user.mail") %></th>
      <th><%= t("activerecord.attributes.user.accont_name") %></th>
      <th></th>
    </tr>
  </thead>

  <%= paginate @users %>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= link_to t('views.common.show'), user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
