<h1><%= t('views.common.title_show', name: User.model_name.human) %></h1>

<p>
  <strong>Eメール:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>アカウント名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>住所:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>郵便番号:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong>自己紹介文:</strong>
  <%= @user.self_introduction %>
</p>

<% if current_user == @user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% end %>
<%= link_to t('views.common.back'), users_path %>
